/*
CSS template{
  [arrangement]
  [position]
  ...
  [sizing]
  [margin]
  ...
  [border/padding]
  [internal format]
}
*/
body, textarea, button{
  font-family: 'Helvetica Neue', sans-serif;
}

.note{
  display: inline-block;
  position: relative;

  width: 500px;
  height: 250px;
  margin: 10px;

  border: 3px solid black;
}
.note > textarea{
  width: 90%;
  height: 90%;
  margin: 2.5% 5% 2.5% 5%;

  resize: none;
  border: none;
}
.note-back{
  background-color: yellow;
}

.note-buttons{
  position: absolute;
  right: 0;
  top: 0;
}