/*

CSS template{
  [arrangement]
  [position]
  ...
  [sizing]
  [margin]
  ...
  [border/padding]
  [internal format]
}

margin shorthand: top right bottom left;

*/

body, textarea, button{
  font-family: 'Helvetica Neue', sans-serif;
}
h1{
  font-size: 3em;
  margin: 0.2em 0;
}
hr{
  height: 3px;
  border: 0;
  
  background-color: black;
}

.component{
  display: inline-block;
  vertical-align: top;
}
.component-folders{
  width: 18%;
}
.component-notes{
  width: 78%;
}