<div class='notes'>
  <div class='note' ng-repeat='note in notes' ng-class='{unsynced: note.unsynced}' ng-blur='updateNote(note)'>

    <p class='button-flip' ng-click='flip(note)'>&#9701;</p>
    <button class='button-delete' ng-click='delete(note)'>D</button>

    <textarea class='note-front' ng-model='note.text_front' ng-hide='note.flipped' ng-blur='updateNote(note)'></textarea>
    <textarea class='note-back' ng-model='note.text_back' ng-show='note.flipped' ng-blur='updateNote(note)'></textarea>

    <div class='tags'>
      <span class='button-tag' ng-click='toggleNoteTag(note)'>+</span>
      <input class='new-tag' placeholder='...'\ ng-model='note.newTag' ng-show='note.addingTag' ng-keydown='saveNoteTag(event, note)' ng-blur='toggleNoteTag(note)' focus-me='note.focusNewTag'>
      <span class='tag' ng-repeat='tag in note.tags'>{{tag}}</span>
    </div>

  </div>
</div>