/*

CSS template{
  [arrangement]
  [position]
  ...
  [sizing]
  [margin]
  ...
  [border/padding]
  [internal format]
}

margin shorthand: top right bottom left;

*/

body, textarea, input, button{
  font-family: 'Helvetica Neue', sans-serif;
}
html, body{
  height: 100%
}

/* HEADER */
.header{
  /*hack-y CSS to be fixed*/
  /*position: absolute;*/

  width: 100%;
  /*hard-coded height to be fixed*/
  height: 60px;
  margin: 0 0 20px 0;

  background-color: white;
}
h1{
  font-size: 3em;
  margin: 0;
}
.header a{
  position: absolute;
  right: 140px;
  top: 20px;

  background-color: rgb(200, 200, 200);

  text-decoration: none;
  font-size: 2em;
}
hr{
  height: 3px;
  border: 0;
  
  background-color: black;
}

/* BODY COMPONENTS */
.component{
  display: inline-block;
  vertical-align: top;

  height: 80%;

  /*hard-coded padding to be fixed*/
  /*padding-top: 80px;*/
  overflow-y: scroll;
}
.component-folders{
  width: 18%;
}
.component-separator{
  width: 3px;

  background-color: black;
}
.component-notes{
  width: 78%;
  /*border-left: 3px solid black;*/
}