/*

CSS template{
  [arrangement]
  [position]
  ...
  [sizing]
  [margin]
  ...
  [border/padding]
  [internal format]
}

margin shorthand: top right bottom left;

*/
.notice-syncing{
  font-size: 1.5em;
  color: red;
}
.notice-synced{
  font-size: 1.5em;
  color: green;
}

.folders{
  margin: 0 0 0 5%;
}
.folders .active span{
  color: blue;
}

.new-folder{
  position: relative;
  float: left;

  width: 50%;
  height: 33px;
}
.new-folder-button, .new-folder-input{
  /*hard-coded; to be updated*/
  position: absolute;
  top: 0;
  left: 0;

  width: 120px;
  height: 30px;

  margin: 0;
  border: 0;
}
.new-folder-input{
  padding: 2px;
}
