<div class='new-folder'>
  <button ng-click='toggleNewFolder()'>New folder</button>
  <input class='new-folder-input' placeholder='...' ng-model='newFolder' ng-show='creatingFolder' ng-keydown='createNewFolder(event)' ng-blur='toggleNewFolder()' focus-me='newFolderFocus'\>
</div>
<button ng-click='createNewNote()'>New note</button>
<span class='notice-syncing' ng-show='updating'>Syncing...</span>
<span class='notice-synced' ng-hide='updating'>Synced.</span>

<h3>Folders</h3>
<div class='folders'>
  <div class='folder' ng-repeat='folder in folders' ng-class='{"active": folder.active}'>
    <p ng-click='getFolderNotes(folder)'>{{folder.name}}</p>
  </div>
</div>
